body {
    font-family: Graduate, Kelly Slab, Aldrich;
    font-size: 1.1em;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    flex-direction: column;
}

.icon {
float : right;
padding-right : 30px;
margin-right : 10px;
color:black;
height: 80px;
padding-top: 35px;


}


* {
	margin: 0;
	padding: 0;
}


ul, ol, li {
	list-style: none;
	line-height: 50px;
}

a {
	color:black;
	text-decoration: none;
} 
nav {
	width: 100%;
	height: 140px;
	position: relative;
	z-index: 9999;
}



nav{ width:100%; height:135px;position:relative; z-index:9999;}
		.navWrap {
      width: 100%;
      height: 180px;
      overflow: hidden;
      transition: all 0.6s;
      position: relative;

    }
		.navWrap:hover {
      height:600px; /* 화면의 전체 높이로 확장 */
      background: rgba(245, 235, 236); /* 호버 시 배경색 불투명하게 변경 */
    }
			
nav .menu {
	font-weight : bold;
	width: 1200px;
	margin: 0 auto;
	height: 100px;

}

nav .menu a {
	color: 000000;
}
.menu-container {
    display: flex;
    justify-content: center;
}

/* 간격 조정 */
nav .menu>li {
	width: 100px;
	float: left;
	margin-right: 0px;
	height: 140px;
	position: relative;
	margin-top: 30px;
}

nav .menu>li:hover>a {
	color: #b4adf6;
}

nav .menu>li:last-child {
	margin-left: 0;
}


nav .menu>li a {
	display: block;
	width: 105px;
	height: 100%;
	text-align: center;
	line-height: 120px;
}

nav .menu .depths {
	position: absolute;
}

nav .menu .depths li {
	width: 300px;
}

nav .menu .depths li a {
	font-size: 0.8rem;
	line-height: 40px;
}

nav .menu .depths li:hover a {
	color: #6fd7ff;
}

.titleLi{
 margin: 0xp;
}
#logo{
margin-left : 50px;
	width: 213px;
	height: auto;
	top: -10px;
	z-index:1;
}
.mene{
	text-align: center;
	padding-left: 5px;
}
#headiner{
width: 100%; 
margin: 0 auto;
}
 .nonMember{
  margin: 0px 10px;
  }
  .login_loginout{  
  	color : #8a8a8a;
  	text-align: right;
  }
  #login{
  margin-top :15px;

  }
  #header.fixed{
  position: fixed; 
  left: 50%;
  width: 100%;
  z-index: 1;
  transform: translateX(-50%);
  transition: top 1s ease;
  background-color: rgba(255, 255, 255);
  }

#header{
	margin-bottom: 20px;
	width: 100%;
}