@charset "UTF-8";
		*{
			font-family: a타이틀고딕2;
		}
		body{
			width : 1250px;
			margin : 10px auto;
	        background-color: rgb(255, 255, 255);
		}
		.logos{
			display: flex;
			justify-content: center; 
		}
        #contents {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        
        button {
            padding: 10px 20px;
            border:none;
            cursor:pointer;
            background-color: rgb(250, 227, 255);
        }
        button:hover{
         background-color: rgb(255, 217, 255);
        }
        
        #buttons {
        	height: 50px;
         	background-color: rgb(255, 255, 255);
         	padding : 30px;
        
        }
        .btn {
	        float:left;
	        display: flex; 
		    justify-content: space-between;
		    align-items: center;
	    }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .header label {
            margin-right: 20px;
        }
        input {
        	border: 1px solid rgb(255, 221, 240);
        }
        
        input:focus {outline:none;
 			border: 1px solid transparent; /* 테두리 스타일 설정, 투명하게 설정 */
			border-image: linear-gradient(to right, #DCFF29, #D239FF, #DCFF29); /* 선형 그라데이션 테두리 */
		  	border-image-slice: 1; /* 테두리 이미지 크기 설정 */
		  	padding: 5px; /* 내부 여백 설정 */
 		}
 
        .feedType {
            display: inline-block;
            width: calc(30% - 2%); 
            height: 230px;
        	margin: 30px 30px;
            box-sizing: border-box;
            vertical-align: top;
            background-color: rgb(255, 255, 255);
            border: 2.5px solid rgb(230, 230, 255);
            border-radius: 0 0 25%;
            padding: 20px;
            list-style: none;
        }
        
        .feedType a {
            text-decoration: none;
            color: inherit;
        }
        
        #writearea{
        background-color:rgb(230, 230, 255);
        padding:30px;
        }
        
        .write textarea {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            resize: vertical;
        }
        
        .write button {
            background-color: rgb(255, 189, 199);
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        .container ul {
            list-style: none;
            padding:0;
        }
        
        .container ul li {
            margin-bottom: 10px;
        }
        
        .container ul li span {
			color: rgb(76, 76, 76);
            font-weight: bold;
            margin-right: 5px;
        }
        
        .container ul li i {
            float: left;
            padding: 5px 10px;
            cursor: pointer;
        }
        
        .container ul li button:hover {
            background-color: rgb(222, 186, 254);
            color: white;
        }
        .clickThis{
			display: inline;
		}
   
	   .profile-image {
		    width: 50px;
		    height: 50px;
		    border : 1px solid rgb(230, 230, 255);
		    border-radius: 50%; 
		    object-fit: cover;
		}
		
		hr{
			border: none; 
	        height: 2px; 
	        background: linear-gradient(to right,#DCFF29, #D239FF, #DCFF29); 
	        margin: 20px 0; 
		}
		.image{
			border : none;
			width : 300px;
			height : 300px;
		}
		.imageX{
			display: none;
		}
		